{% extends 'base.html' %}
{% load static %}


{% block title %}
Product
{% endblock %}

{% block content %}






<h2>Pan</h2>


    <div class="d-flex">

<div class="m-5">
                    <img src="{{ product.product_image.url }}" class="card-img-top" alt="">
</div>

                    <div class="card-body d-flex flex-column m-4">
                        <h2 class="card-title">{{ product.product_name }}</h2>
                        <p class="card-text"><small class="text-body-secondary">{{ product.product_category }}</small></p>
                        <div class="desc-wrapper">
                            <p class="card-text description"> 
                            <span class="text-content">
                                {{ product.product_description }}
                            </span>
                        </p>
                        </div>
                        <p class="product-price card-text fw-bold">₹ {{ product.product_price }}</p>

                        <form action="{% url 'add_to_cart' product.id %}" method="post">
                            {% csrf_token %}

                            <!-- Quantity -->
                            <div style="
                                display:flex;
                                justify-content:center;
                                align-items:center;
                            ">
                                <input 
                                    style="
                                        text-align:center;
                                        width:45%;
                                        background-color:#f3eded;
                                    "
                                    class="mt-1 p-1"
                                    type="number"
                                    id="quantity"
                                    name="quantity"
                                    min="1"
                                    placeholder="Quantity"
                                    required>
                            </div>

                            <!-- Hidden Product Price -->
                            <input 
                                type="hidden"
                                id="price"
                                value="{{ product.product_price }}">

                            <!-- Total Price -->
                            <div style="
                                display:flex;
                                justify-content:center;
                                align-items:center;
                            ">
                                <input 
                                    class="mt-3 p-1"
                                    style="
                                        text-align:center;
                                        width:45%;
                                        background-color:#f3eded;
                                        font-size:medium;
                                    "
                                    type="text"
                                    id="total"
                                    name="total_price"
                                    placeholder="Total Price"
                                    readonly>
                            </div>

                            <button class="edit-btn mt-3" type="submit">
                                <i class="fas fa-shopping-cart"></i>
                                Add to Cart
                            </button>
                        </form>
        
                    </div>
                
    </div>

    <script>
    document.getElementById('quantity').addEventListener('input', function () {

        let quantity = document.getElementById('quantity').value;
        let price = document.getElementById('price').value;

        let total = quantity * price;

        document.getElementById('total').value = total;
    });
</script>

{% endblock %}